{% extends "layout.html"%}

{% block content %}
<!-- About Design -->
 <!-- Codes -->
 <section id="about" class="aboutSec">
  <div class="about">
    <h1 class="aboutTitle">FALL FLANNELS ARE HERE</h1>
    {% load static %}
    <img class="aboutImage" src="{% static 'images/aboutImage.jpg'%}" class="mainImage" alt="Images Front 1" />
    <p class="aboutIntro">
      Lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Iusto, ipsum dolor sit amet consectetur adipisicing elit. Sit modi
      eaque nisi, et quos illo? Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Blanditiis tempora mollitia ducimus temporibus.
      Lorem Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Iusto, ipsum dolor sit amet consectetur adipisicing elit. Sit modi
      eaque nisi, et quos illo? Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Blanditiis tempora mollitia ducimus temporibus
      Iusto, ipsum dolor sit amet consectetur adipisicing elit. Lorem 
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, 
      ipsum dolor sit amet consectetur adipisicing elit. Blanditiis tempora 
      mollitia ducimus temporibus. Lorem Lorem ipsum dolor, sit amet 
      consectetur adipisicing elit. Iusto, ipsum dolor sit amet consectetur 
      adipisicing elit. Sit modi eaque nisi, et quos illo? Lorem ipsum dolor 
      sit amet consectetur, adipisicing elit. Blanditiis tempora mollitia 
      ducimus temporibus Iusto, ipsum dolor sit amet consectetur adipisicing 
      elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, 
      ipsum dolor sit amet consectetur adipisicing elit. 
    </p>
  </div>
</section>
 {% endblock %}