{% extends "layout.html"%}

{% block content %}
 <!-- Home Design -->
 <!-- Codes -->

<section class="homeSec">
  <div class="homePage">
    <div class="home_page">
      <h1 class="tittle" ><b>Welcome to AJ's <i class="fas fa-user-tie"></i> FAITH <br> Custom Suits </b></h1>
      <p class="homeMessage">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <a href="#" target="_blank" rel="noopener noreferrer" class="btn">SHOP &#8594;</a>
      <a href="#" target="_blank" rel="noopener noreferrer" class="btn">LOG OUT &#8594;</a>
    </div>
    <div class="home_page">
      {% load static %}  
      <img class="homeImage" src="{% static 'images/homeImage.jpg'%}" alt="home_Image" >
    </div>
  </div>
</section>

{% endblock %}