{% extends "layout.html"%}

{% block content %}
 <!-- Services Design -->
 <!-- Codes -->
 <section class="servicesSec">
 <h1 class="servicesTittle">SERVICES WE PROVIDE</h1>
 <p class="servicesMessage">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium veritatis voluptates iste reprehenderit quis, at ad voluptatum dolorum ducimus laboriosam nostrum cum quibusdam velit expedita sint ab, dignissimos officiis consequatur. Neque provident delectus vel et, omnis, minus suscipit excepturi sit adipisci amet ipsum atque corrupti dolorum aut quae libero debitis culpa error. Quos dolorum numquam porro rerum est quidem, minus illo. Enim maxime culpa odio. Error facere molestiae tempora corrupti. Nihil distinctio facilis velit dolores magni ipsum laborum natus. Praesentium soluta modi tempora quod veritatis! Explicabo qui, amet voluptas exercitationem inventore aspernatur provident ea enim laborum sint ipsum in debitis.</p>
  <div class="service">
   <div class="small-container">
     <div class="row">
       <div class="col-3">
         <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Perferendis, quae molestias error id est voluptatibus quos amet
           numquam aspernatur nam cumque ullam? Veritatis eveniet et, maxime
           eaque soluta quas modi.
         </p>
          {% load static %}
          <img src="{% static 'images/pictureF.jpg' %}" alt="femailImage1" />
         <h3>Miss. Anna</h3>
         <h4>Costumer Service</h4>
         <h3 class="call"><i class="fas fa-mobile-alt"></i> 1 647 567 9023</h3>
       </div>
 
       <div class="col-3">
         <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Perferendis, quae molestias error id est voluptatibus quos amet
           numquam aspernatur nam cumque ullam? Veritatis eveniet et, maxime
           eaque soluta quas modi.
         </p>
          {% load static %}
          <img src="{% static 'images/pictureM.jpg' %}" alt="maleImage1" />
         <h3>Mr. Mike</h3>
         <h4>Costumer Service</h4>
         <h3 class="call"><i class="fas fa-mobile-alt"></i> 1 647 256 8904</h3>
       </div>
       <div class="col-3">
         <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Perferendis, quae molestias error id est voluptatibus quos amet
           numquam aspernatur nam cumque ullam? Veritatis eveniet et, maxime
           eaque soluta quas modi.
         </p>
          {% load static %}
          <img src="{% static 'images/pictureF.jpg' %}" alt="femaleImage2" />
         <h3>Miss. Lyka</h3>
         <h4>Costumer Service</h4>
         <h3 class="call"><i class="fas fa-mobile-alt"></i> 1 647 345 5689</h3>
       </div>
       <div class="col-3">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Perferendis, quae molestias error id est voluptatibus quos amet
          numquam aspernatur nam cumque ullam? Veritatis eveniet et, maxime
          eaque soluta quas modi.
        </p>
        <div class="">   
        </div>
        {% load static %}
        <img src="{% static 'images/pictureF.jpg' %}" alt="femaleImage3" />
        <h3>Miss. Adrea.</h3>
        <h4>Costumer Service</h4>
        <h3 class="call"><i class="fas fa-mobile-alt"></i> 1 647 345 6745</h3>
      </div>
     </div>
   </div>
 </div>
 <h1 class="service_tittle">Its our pleasure to help you, Keep in touch!</h1>
 <p class="service_message">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet obcaecati quasi impedit accusamus itaque officiis asperiores atque tenetur, nam delectus?</p>
 </section>
{% endblock %}